.element {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.element__image {
  width: 52px;
  height: 40px;
  object-fit: contain;
}

.element__text {
  max-width: 180px;
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 14px;
}

.element__description {
  display: flex;
}

.element__pricing {
  composes: element__description;
}

.constructor__item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}

.icon {
  display: block;
  cursor: pointer;
  padding: 3px 10px;
}

.delete_mobile {
  box-sizing: border-box;
  height: auto;
  background-color: red;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 17px 0;
}

.delete_image {
  background-image: url('../../images/trash.svg');
  background-size: cover;
  width: 35px;
  height: 35px;
  background-color: transparent;
}

.stuffings__item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

@media screen and (max-width: 1310px) {
  .constructor__item {
    width: 100%;
  }
}

@media screen and (max-width: 790px) {
  .constructor__item {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 460px) {
  /*
  .constructor__item {
    max-width: 350px;
    margin: 0;
    padding: 0;
  }*/
}
