.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main {
  width: 100%;
  max-width: var(--container-width);
  background-color: var(--interface-bg);
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.page__section {
  width: 100%;
  max-width: calc(((1260 - 80) / 2) * 100%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.ingredients {
  composes: page__section;
}

.constructor {
  composes: page__section;
  padding: 0 0 52px 0;
}

.constructor_notdisplayed {
  display: none;
}

.constructor_displayed {
  position: absolute;
  top: 0;
  z-index: 3;
  background-color: black;
}

@media screen and (max-width: 1260px) {
  .main {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1200px) {
  .ingredients {
    margin: 0 24px 40px 0;
  }
}

@media screen and (max-width: 1040px) {
  .main {
    flex-direction: column;
  }
}

@media screen and (max-width: 790px) {
  .main {
    padding: 0;
  }
}

@media screen and (max-width: 460px) {
  .ingredients {
    padding: 0 8px;
  }
}
