.container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    max-width: var(--container-width);
    border: 1px solid grey;
    position: relative;
}

.feed {
    width: 100%;
    min-height: 60vh;
}

.section {
    width: 50%;
    border: 1px solid grey;
}

.numberOrdersList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.numberOrderItem {
    color: green;
}

.numbersShown {
    min-height: 200px;
    border: 2px solid purple;
    width: 100%;
}

.feedSection {
    width: 100%;
    max-width: calc(((1260 - 80) / 2) * 100%);
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}

.ordersList {
    max-height: 694px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 0 60px 0 0;
}

.mainTitle {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 30px;
    width: 100%;
}


.ordersList::-webkit-scrollbar {
    width: 10px;
  }
  
  .ordersList::-webkit-scrollbar-track {
    background-color: #2f2f37;
    width: 8px;
  }
  
  .ordersList::-webkit-scrollbar-thumb {
    background-color: #8585ad;
    outline: 0;
  }
  