@import url('./vendor/normalize.css');
@import url('./fonts/fonts.css');
:root {
  --container-width: 1240px;
  --dashed-border: 2px dashed #4c4cff;
  --modal-bg: #1c1c21;
  --interface-bg: #131316;
  --text-color: #f2f2f3;
  --secondary-text: #8585ad;
  --accent: #4c4cff;
}

.constructor-element__action {
  display: inline-flex !important;
}

.constructor-element__row {
  width: 100% !important;
  justify-content: space-between!important;
  max-width: 650px!important;
}


.constructor-element {
  width: 100% !important;
  max-width: 650px!important;
  display: flex !important;
  justify-content: space-between !important;
  box-sizing: border-box !important;
}

@media screen and (max-width: 1250px) {
  .tab_tab__dTxCS {
    min-width: 50px !important;
    max-width: 120px;
    padding: 16px 8px !important;
  }
}

@media screen and (max-width: 1150px) {
  /*.tab_tab__dTxCS {
    padding: 16px 8px !important;
  }*/

  .constructor-element {
    max-width: 450px !important;
    font-size: 13px !important;
    line-height: 18px !important;
    /*padding: 16px 0 !important;*/
  }
}

@media screen and (max-width: 960px) {
  .constructor-element__image {
    margin-right: 0 !important;
    width: 68px !important;
    height: 32px !important;
    object-fit: cover;
  }

  .constructor-element__row {
    max-width: 530px!important;
  }
  
 

  .constructor-element {
    max-width:530px !important;
    font-size: 13px !important;
    line-height: 18px !important;
  }

  .constructor-element__price {
    font-size: 24px !important;
  }
  /*

  .tab_tab__dTxCS {
    min-width: 30px !important;
    max-width: 140px;
    padding: 16px 4px !important;
  }*/

  .constructor-element_pos_top {
    margin: 0 0 20px 0 !important;
  }

  .text_type_digits-medium{
    font-size: 38px!important;
  }

  
}

@media screen and (max-width: 790px) {
  .constructor-element {
    background: none !important;
    width: 100% !important;
    max-width: 720px !important;
    display: flex !important;
    justify-content: space-between !important;
    box-sizing: border-box !important;
    padding: 16px 0 !important;
    border-bottom: 1px solid rgba(242, 242, 243, 0.2);
    border-radius: 0 !important;
  }

  .constructor-element__row {
    width: 100% !important;
    justify-content: space-between!important;
    max-width: 700px!important;
  }
  


  .constructor-element__image {
    margin-right: 0 !important;
  }

  .constructor-element_pos_top {
    border-radius: 0 !important;
  }

  .constructor-element__action {
    display: none !important;
  }

 
  .box {
    margin-right: 0!important;
  }

  .constructor-element__price {
    padding: 0;
  }
  /*
  
  .tab_tab__dTxCS {
    min-width: 30px!important;
    max-width: 80px;
    padding: 16px 4px!important;
  }
*/
  .button_button__gss3G {
    padding: 10px 32px!important;
  }

}


@media screen and (max-width: 460px) {
.constructor-element__image {
  width: 43px !important;
  height: 25px !important;
}
}
