@import url('./vendor/normalize.css');
@import url('./fonts/fonts.css');
:root {
  --container-width: 1240px;
  --dashed-border: 2px dashed #4c4cff;
  --modal-bg: #1c1c21;
  --interface-bg: #131316;
  --text-color: #F2F2F3;
  --secondary-text: #8585AD;
}

@media screen and (max-width: 1040px) {
.constructor-element {
width: 100%;
}
}